<div class="content-body ">
    <div class="container-fluid">
        <div id="calendar-info"
             data-session-id="12"
             data-account-id="3"
             style="display: none;">
        </div>
        <!-- row -->
        <div class="top-bar p-2">
            <div class="row">
                <div class="col-md-4">
                    <a href="/dashboard/show-session-config/12" class="btn btn-secondary btn-custom">
                        <i class="fas fa-arrow-left"></i> Return
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <button type="button" id="superGroupBtn" class="btn btn-warning w-100" data-account-id="3" data-session-id="12" data-local-id="8">
                            <i class="ti-plus me-2"></i> Create Special Group
                        </button>
                        <hr class="mb-4 mt-4">
                        <h4 class="card-intro-title">Groups</h4>
                        <div class="mb-3">
                                <input type="text" id="group-calander-filter" class="form-control" placeholder="Search by Group Name">
                            </div>
                        <div class="mb-3">
                                <a href="/dashboard/create-group-user-session/12/8" class="btn btn-primary btn-event w-100">
                                    <span class="align-middle"><i class="ti-plus me-2"></i></span> Create New
                                </a>
                        </div>
                        <div class="">
                            <div id="external-events" class="my-3">
                                <p>Drag and drop your event or click in the calendar</p>

<!--                                <div class="external-event btn-primary light" data-class="bg-primary">-->
<!--                                    <i class="fa fa-move"></i>-->
<!--                                    <span>New Theme Release</span>-->
<!--                                </div>-->
<!--                                <div class="external-event btn-warning light" data-class="bg-warning">-->
<!--                                    <i class="fa fa-move"></i>-->
<!--                                    My Event-->
<!--                                </div>-->
<!--                                <div class="external-event btn-danger light" data-class="bg-danger">-->
<!--                                    <i class="fa fa-move"></i>-->
<!--                                    Meet manager-->
<!--                                </div>-->
<!--                                <div class="external-event btn-info light" data-class="bg-info">-->
<!--                                    <i class="fa fa-move"></i>-->
<!--                                    Create New theme-->
<!--                                </div>-->
<!--                                <div class="external-event btn-dark light" data-class="bg-dark">-->
<!--                                    <i class="fa fa-move"></i>-->
<!--                                    Project Launch-->
<!--                                </div>-->
<!--                                <div class="external-event btn-secondary light" data-class="bg-secondary">-->
<!--                                    <i class="fa fa-move"></i>-->
<!--                                    Meeting-->
<!--                                </div>-->
                                    <div id="my-custom-events" class="my-3"></div>
                            </div>
                            <!-- checkbox -->


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-xxl-8">

                <div class="card">
                    <div class="row card-header">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary mb-3 float-start" id="copyGroupBtn" data-bs-toggle="modal" data-bs-target="#copyIntervalModal">
                                        Copy Group to Other Interval
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#deleteIntervalModal">
                                        Delete Data from Interval
                                    </button>
                                </div>
                            </div>
                    <div class="card-body">
                        <div id="calendar" class="app-fullcalendar"></div>
                    </div>
                </div>
            </div>
            <!-- BEGIN MODAL -->
            <div class="modal fade none-border" id="event-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><strong>Add New Event</strong></h4>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                            <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-bs-toggle="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Add Category -->
            <div class="modal fade none-border" id="add-category">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><strong>Add a category</strong></h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label form-label">Category Name</label>
                                        <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label form-label">Choose Category Color</label>
                                        <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                            <option value="success">Success</option>
                                            <option value="danger">Danger</option>
                                            <option value="info">Info</option>
                                            <option value="pink">Pink</option>
                                            <option value="primary">Primary</option>
                                            <option value="warning">Warning</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger light waves-effect" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary waves-effect waves-light save-category" data-bs-toggle="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ADD THIS MODAL TO YOUR HTML (before closing </div> of container) -->

<!-- ADD THIS MODAL TO YOUR HTML (before closing </div> of container) -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Create Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <div class="mb-3">
                        <label for="eventTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="eventTitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="eventDate" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="eventDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="typeSessionSelect" class="form-label">Type</label>
                        <select class="form-control" id="typeSessionSelect" required>
                            <option value="">Select Type</option>
                            <option value="P">Presence (P)</option>
                            <option value="O">Online (O)</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="eventRoom" class="form-label">Room</label>
                        <select class="form-control" id="eventRoom" required>
                            <option value="">Select a Room</option>
                            <option value="7">class khalil</option>
                            <option value="8">class haythm</option>
                            <option value="9">classe test</option>
                            <option value="10">classe kasmi</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="eventSubject" class="form-label">Teacher And Subject</label>
                        <select class="form-control" id="eventSubject" required>
                            <option value="">Select a Subject and Teacher</option>
                            <option value="69" data-subject="1" data-user="374">Subject : Math - Teacher : youssef kasmi</option>
                            <option value="79" data-subject="1" data-user="4">Subject : Math - Teacher : Mkaissi khalil</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="eventCompletionTagCalander" class="form-label">Completion Tag</label>
                        <select class="form-control" id="eventCompletionTagCalander" multiple required>
                            <option value="1">Bronze</option>
                            <option value="2">Silver</option>
                            <option value="3">Gold</option>
                            <option value="4">Platinum</option>
                            <option value="5">Diamond</option>
                            <option value="6">Master</option>
                            <option value="7">Grand Master</option>
                            <option value="8">Legendary</option>
                            <option value="10">fonction 1</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="eventDuplicate" class="form-label">Duplicate</label>
                        <select class="form-control" id="eventDuplicate" required>
                            <option value="">Select an Option</option>
                            <option value="none">Not Duplicate</option>
                            <option value="daily">Per Day</option>
                            <option value="weekly">Per Week</option>
                            <option value="biweekly">Every 2 Weeks</option>
                        </select>
                    </div>
                    <div class="mb-3" id="startTimeFields" style="display: none;">
                        <label for="eventStartTime" class="form-label">Start Time</label>
                        <input type="time" class="form-control" id="eventStartTime">
                    </div>
                    <div class="mb-3" id="endTimeFields" style="display: none;">
                        <label for="eventEndTime" class="form-label">End Time</label>
                        <input type="time" class="form-control" id="eventEndTime">
                    </div>
                    <div class="mb-3" id="eventEndFields" style="display: none;">
                        <label for="eventEndDate" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="eventEndDate">
                    </div>
                    <div class="mb-3">
                        <label for="eventDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="eventDescription" rows="3"></textarea>
                    </div>

                    <!-- Hidden fields to store dropped group info -->
                    <input type="hidden" id="eventGroupId">
                    <input type="hidden" id="eventGroupCapacity">
                    <input type="hidden" id="eventSessionId">
                    <input type="hidden" id="eventAccountId">
                    <input type="hidden" id="eventLocalId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveEventButton">Save</button>
            </div>
        </div>
    </div>
</div>
